@import 'tailwindcss';

.Great-vives-font {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-x: hidden;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    /* Evita el scroll horizontal */
}

.main-container {
    position: relative;
    /* Para las imágenes con absolute */
}

/* Asegurarse de que las imágenes posicionadas con absolute no se desborden */
img.absolute-img {
    max-width: 100%;
    /* Limita el tamaño máximo */
    max-height: 100vh;
    /* Limita la altura máxima a la altura de la pantalla */
    object-fit: contain;
}


.bodoni-moda-sc {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}



.clip-path-inset {
    clip-path: inset(0 0 -20px 0);
}