@import 'tailwindcss';

.Great-vives-font {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.bodoni-moda-sc {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    overflow-x: hidden;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}



.clip-path-inset {
    clip-path: inset(0 0 -20px 0);
}